#red-team {
    background-color: rgba(255, 0, 0, 0.7);
}

#blue-team {
    background-color: rgba(0, 0, 255, 0.7);
}

.room-players {
    font-size: 12px;
    color: gray;
}

#players-room.card, #players-room .table-view {
    background-color: transparent;
}


#nickname-screen {
    display: block;
}

#room-screen {
    display: none;
}